<div class="schema-details">
  <button
    class="btn btn-sm btn-primary"
    title="Schéma"
    @click.stop="$refs.schemaModalId{{ id }}.show"
    data-track-content data-content-name="CTA" data-content-piece="resource/schema">
      Schéma
  </button>
</div>

<modal
  v-ref:schema-modal-Id{{ id }}
  :title="Schéma associé"
  :visible="false">
  <div class="modal-body">
    <p>
      Les schémas de données permettent de décrire des modèles de données : quels sont les différents champs, comment sont représentées les données, quelles sont les valeurs possibles. Cette ressource est associée au schéma <i>{{ resource.schema }}</i> ce qui signifie qu'elle doit en respecter la spécification.
    </p>

    <h2>Documentation</h2>
    <p>
      Vous pouvez consulter la documentation de ce schéma, découvrir le contexte et les recommandations destinées aux producteurs de données.
    </p>

    <a
      href="{{ documentation_url }}"
      title="Documentation du schéma {{ resource.schema }}"
      class="btn btn-info"
    >
      <span class="fa fa-check"></span>
      Lire la documentation
    </a>

    <h2>Validation</h2>
    <div class="alert alert-info">
      <p>
        La validation d'une ressource par rapport à un schéma consiste à vérifier que la ressource est bien conforme au schéma qu'elle est censée respecter. En cas d'erreurs, un rapport de validation indique les erreurs trouvées : colonnes mal nommées, valeurs non conformes etc.
      </p>
    </div>

    <p>
      data.gouv.fr met à votre disposition l'outil <a href="https://validata.etalab.studio">Validata</a> pour valider vos fichiers par rapport à un schéma et corriger les éventuelles erreurs.
      <a href="{{ validation_url }}" title="Validation du fichier" class="btn btn-success">
        <span class="fa fa-check"></span>
        Valider la ressource
      </a>
    </p>
  </div>
</modal>
